/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap'); */

body {
    background-image: linear-gradient( #001f63, grey);
}

.header {
    background-image: linear-gradient( #80a8ff, rgb(255,255,255));
    background-origin: content-box;
    
}

h3 {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 70px;
    text-shadow: 3px 3px grey;
    margin-bottom: -10px;
    text-align: center;
}

.navBar {
    background-image: linear-gradient( #1e50bd, white);
    position: fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:350px;
    margin-top: -19em;
    margin-left: -15em; 
    text-align: center;
    border:0px;
    border-radius: 10px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    font-size: 30px;
    line-height: 80px; 
    margin-top: 25%;
    color: black;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    text-shadow: 3px 3px grey;
}

a:hover {
    text-shadow: 3px 3px white;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-size: 30px;
}


