/* Wrap around content in body for background color difference
    <div Class = divBody>
        EX: code
    </div>
*/
.divBody{
    background-color: #5cdb95;
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    color: #222222;
    border-radius: 10px;
    padding: 5px;
    font-size: larger;
}
/* Wrap around text for web site
<div Class = columns>
        EX: <?php
        echo: "A lot of text"
        ?>
        </div>
*/
.columns{
    column-count: 2;
    column-gap: 5%;
    column-rule-style: solid;
    column-rule-width: 1%;
    column-rule-color: #222222;
    cursor: default;
}
/* Wrap around <a href="Ex">Ex</a> for web site
<div Class = navBar>
        EX: <?php
        echo: "A lot of text"
        ?>
        </div>
*/
.navBar{
    background-color: #379683;
    border-radius: 10px;
    overflow: hidden;
}
.navBar a {
    float: left;
    color: #05386b;
    background-color: #8ee4af;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 115%;
    font-weight: bolder;
    border-radius: 10px;
}
.navBar a:hover {
    background-color: #edf5e1;
    color: #05386b;
}





body{
    background-color: #379683;
    color: #edf5e1;
    margin: 0;
}
h1{
    color: #05386b;
    column-span: all;
    cursor: default;
}
img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
}