/* Wrap around content in body for background color difference
    <div Class = divBody>
        EX: code
    </div>
*/
.divBody{
    background-color: #8A1C7C;
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    color: #FFF8F0;
    border-radius: 10px;
    padding: 5px;
    font-size: larger;
}
/* Wrap around text for web site
<div Class = columns>
        EX: <?php
        echo: "A lot of text"
        ?>
        </div>
*/
.columns{
    column-count: 2;
    column-gap: 5%;
    column-rule-style: solid;
    column-rule-width: 1%;
    column-rule-color: #1F0322;
    cursor: default;
}
/* 
Wrap around <a href="Ex">Ex</a> for web site
*/
.navBar{
    background-color: #8A1C7C;
    border-radius: 10px;
    overflow: hidden;
}

.navBar a {
    float: left;
    color: #edf5e1;
    background-color: #92140C;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 115%;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid #1F0322;
}
.navBar a:hover {
    background-color: #DA4167;
    color: #edf5e1;
}
/*Buttons*/
.navBar2 a {
    float: right;
    color: #edf5e1;
    background-color: #92140C;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-size: 115%;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid #1F0322;
}
.navBar2 a:hover {
    background-color: #DA4167;
    color: #edf5e1;
}





/*New Stuff*/
.dropbtn {
    background-color: #8ee4af;
    color: #05386b;
    padding: 15px;
    font-size: 115%;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #379683;
  }
.dropbtn:hover, .dropbtn:focus {
    background-color: #edf5e1;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}
/*Content Inside Drop Box*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8ee4af;
    min-width: 100px;
    overflow: auto;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 115%;
    font-weight: bold;
    border: 1px solid #379683;
}
.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #edf5e1;
}
.show {
    display: block;
}
/*/New Stuff*/





body{
    background-color: #1F0322;
    margin: 0;
    padding: 5px;
}
h1{
    color: #FFF8F0;
    column-span: all;
    cursor: default;
}
img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #1F0322;
}
h2{
    color: #FFF8F0;
    column-span: all;
    cursor: default;
    text-align: center;
    font-size: 200%;
    margin: 5px;
}